<!DOCTYPE html>

<html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.js"></script>
<link rel="stylesheet" type="text/css" href="/styles/style.css">
    <head>

        <meta charset="UTF-8" />

        <title>{% block title %} Poursuite d'etudes {% endblock %}</title>

        {% block stylesheets %}
        
        
        
        {% endblock %}
    
    </head>

    <body>

        {% block header %}
          
        <header >
            
              <div class="container">
          <!-- Ligne 1 --> 
                  <div class="row">
                      <div class="col-lg-2">
                    <!-- contenu premier bloc 2 colonnes -->  
                          <img alt="Accueil" src="/images/iutlogo.png" >
                      </div>
                    
                      <div class="col-lg-12">
                      <h1> <center>Application Web Poursuite d'études</center></h1> 
                         <h2>
                          <br /> 
                          <center>Le site référence de la poursuite d'études au département informatique de Bayonne</center>
                          <br /> 
                         </h2>
                      </div>
                  </div>    
              </div>
           
        </header>
          

        {% endblock %}

        {% block menuGeneral %}
        
              <div class="container">
                <div class="row">
                  <div class="col-lg-12">
                    
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ path('poursuite_etudes_formations_homepage')}}">
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
       <ul class="nav navbar-nav">
        <li><a href="{{ path('poursuite_etudes_formations_stats') }}"> Statistiques <span class="sr-only"></span></a></li>
        <li><a href="{{ path('poursuite_etudes_formations_ecoleInge') }}"> Ecoles d'ingenieur </a></li>
        <li><a href="{{ path('poursuite_etudes_formations_license') }}"> Licences </a></li>
        <li><a href="{{ path('poursuite_etudes_formations_licensePro') }}"> Licences professionnelles </a></li>
       </ul>
       
       <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Informations<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ path('poursuite_etudes_formations_candidater') }}">Comment candidater</a></li>
            <li><a href="{{ path('poursuite_etudes_formations_bulletinPe') }}">Moyennes et bulletin PE</a></li>
            <li><a href="{{ path('poursuite_etudes_formations_descriptif_parcours') }}">Descriptif parcours S4</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Autre ?</a></li>
            
          </ul>
        </li>
      </ul>
     
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
                    
                  </div>
                </div>
              </div>
  
  
        {% endblock %}

        {% block menuPropreAuBundle %} {% endblock %}
        
              <div class="container">
                <div class="row">
                  <div class="col-lg-12">
                    
        {% block contenuCentral %}  {% endblock %}
        
                  </div>
                </div>
              </div>

        {% block footer %} 
        
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  
                  <HR>
                  <footer> <center> &copy; IUT de Bayonne - Departement informatique </center> </footer>
                  <HR>
                  
                </div>
              </div>
            </div>
        
          
        
        {% endblock %}

    </body>

</html>